        *{
			margin: 0;
			padding: 0;
		}
		body{
			width: 1400px;
			height:900px;	
		}
		ul{
			list-style: none;
		}
		.head,.body,.foot{
			/*margin-left: 100px;*/
			width: 1600px;
		}
		.head{
			background-color:#073aa3;
			height: 40px;
		}
		.head ul{
			margin-left:350px ;
		}
		.head ul > li{
			float: left;
		}
		.head ul li{
			margin-left:10px ;
		    margin-top:10px ;
		}
		.body{
			background-color:#65d125;
			height: 40%;
			background: url(../img/1.jpg);
			background-size:1600px 360px ;
		}
		.foot{
			background: url(../img/footBg.JPG);
			width: 1560px;
			height:618px;
			padding: 20px;
			padding-top: 100px;
		}
		.foot > div{
			float: left;
		}
		.book1{
			border:2px solid ;
			margin-left: 100px;
			margin-bottom: 100px;
			width: 350px;
			height: 186px;
			background-color:fuchsia;
		}
		.book1 div{
			float: left;
		}
		.text{
			margin-top: 10px;
			margin-left: 10px;
		}
		.body > div{
			float: left;
		}
		.book,.login{
			width: 300px;
			height: 356px;
			background-color: rgba(255,255,255,0.8);
		}
		.book{
			height: 360px;
		}
		.login{
			margin-left: 100px;
			margin-top: 40px;
			width: 300px;
			height: 280px;
			border-radius: 1.4em;
		}.login ul li{
			margin: 15px;
			margin-top: 50px;
		}
		button{
			padding: 5px 8px;
		}
		.btn1{
			margin-left: 40px;
		}
		.image-group{
			width: 600px;
			height:400px;
			margin-left: 150px;
		}
		
		#usersucc{
		 margin-top:130px;
		}
       .pageS{
      	 margin: 0 0 0 600px;
      	 
       }
       
       .buyNum {
		font-family: "ו";
		font-size: 20px;
		height: 20px;
		width: 50px;
		}
		
		.raceShow {
            background-color: white; /* #ffffff*/
            border: solid 1px #ccc;
            position: absolute;
            display: none;
            width: 800px;
            height: 600px;
            padding: 50px;       
            top: 200px;
            left: 200px;
        }
